.button-accept {
  color: #d3d3d3;
  transition: color 0.25s, border 0.25s;
  border-color: #d3d3d3;
  margin: 0 0 0 15px;
  &:focus, &:hover {
    color: #20bc56;
    border-color: #20bc56;
  }
  &.done {
    background: #20bc56;
    color: white;
    box-shadow: none;
    border-color: #20bc56;
    &:focus, &:hover {
      background: #22c65b;
      border-color: #22c65b;
    }
  }
}

.modal-card-title {
  line-height: inherit;
}