.right-side{
    height: 100%;
    margin: 10px;
    background: #fff;
    padding: 60px;
    box-shadow: #ccc 1px 5px 30px 1px;

    a{
        color: #7b68ee;
        text-decoration: none;
    }

    .field{
        margin-top: 25px;

        .label{
            color: #7b68ee;
        }

        .icon{
            float: left;
            color: #ccc;
        }

        input{
            background: none;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid #ccc;
        }
    }
    
    button{
        width: 100%;
        height: 60px;
    }

    @media screen and (min-width: 768px){
        margin-top: 12%;
        margin-left: 25%;
    }

    @media screen and (max-width: 1560px){
        margin-left: 5%;
    }
}

.left-side-bar{
    background: #7b68ee;
    height: 100.9vh;
    padding-top: 70px;

    @media screen and (max-width: 1560px){
        width: 40%;
    }

    @media screen and (max-width: 1097px){
        width: 100%;
        height: 138.8vh;
    }

    @media screen and (max-width: 769px){
        width: 100%;
        height: 110vh;
    }

    span{
        color: #fff;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        padding: 20px;
    }

    .tag{
        margin-top: 40%;
        margin-left: -180px;
        text-transform: uppercase;
        @media screen and (max-width: 769px){
            margin-top: 10%;
            margin-left: 0;
        }
    }

    img{
        height: 300px;
        width: auto;
        margin-top: 50px;

        @media screen and (max-width: 769px){
            height: 150px;
        }
    }

    .subtitle-text-left{
        margin-top: 25px;
        text-align: left !important;
        margin-left: 22%;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5em;


        @media screen and (max-width: 769px){
            margin-left: 80px;
        }
    }
}

.bottom{
    margin-top: 45%;
}

.bottom-line{
    width: 40%;
    height: 2px;
    background: #fff;
    margin-left: calc(50% - 20%);
}

.social{
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
    transition: 0.3s;

    span{
        font-weight: 100;
        color: #ccc;
        margin-left: -12px;
        transition: 0.4s;

        a{
            text-decoration: none;
            color: #ccc;
        }
    }

    i{
        transition: 0.5s;
    }
}

.social:hover{
    span{
        margin-left: -5px;
    }

    i{
        color: #000;
    }
}



.container{
    margin: 0;
    padding: 0;
}