@import "@/styles/colors.scss";

.panel {
  margin: 20px 0;
  &-header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dbdbdb;
    padding: 0 15px;
    height: 50px;
    &.done {
      border-top-color: $success;
    }
    .subtitle {
      margin: 0;
    }
    &-counter {
      background: $primary;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 10px;
    }
  }
}

//Item

.item {
  margin: 15px 0;
  background: white;
  a {
    display: block;
    padding: 10px 15px;
    color: inherit;
    border: 1px solid #dbdbdb;
    transition: border 0.25s;
    &:focus, &:hover {
      border-color: $primary;
    }
  }
  .subtitle {
    margin: 0 0 10px 0;
  }
}