@import "@/styles/colors.scss";
@import "@/styles/animations.scss";

.panel {
  margin: 20px 0;
  &-columns {
    align-items: flex-start;
  }
  &-header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dbdbdb;
    padding: 0 15px;
    height: 50px;
    &.done {
      border-top-color: $success;
    }
    .subtitle {
      margin: 0;
    }
    &-counter {
      background: $primary;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 10px;
    }
  }
}
